@charset "utf-8"
/*css document*/
body{
    background-color: burlywood;
    margin: 0px;
    padding: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: auto;
    background-image: url(/Users/edgarkebiro/Desktop/lambo/Binary Code on a Computer Screen.gif);
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: grey;
    box-shadow: 2px 2px 12px; rgba(0,0,0,0,02);
    padding: 0px 5%;

}
nav ul{
    display: flex;

}
nav ul a{
    margin: 30px;
    font-family: myriad pro regular;
    color: red;
    font-size: 15px;
    font-weight: 700;
    
}
.logo{
    font-family: roadtest;
    color: rgb(0, 0, 0);
    font-size: 22px;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;  
    font-size: 30px;
}
.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: grey;
    font-size: 30px;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container{
    position: absolute;
    left: 13%;
    top:42%;
    transform: translate(-13%,-42%);
}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;

}
.hire-btn{
    background-color: #0b0b0b;
}
